* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

*:focus, *:active {
    outline: none;
}

.circle {
    border-radius: 50%;
}

.nav_games {
    color: white;
}

.my-class {
    display:block;
    width:49%;
    float:left;
}

html, body {
    height: 100vh;
    width: 100%;
    line-height: 1;
    font-family: 'Inter', sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #485998FF
}

ul li {
    list-style: none;
}

a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

/*---header---*/
.header {
    height: 75px;
    background: #323232;
    display: flex;
    justify-content: center;
    color: white;
}

.container {
    max-width: 1370px;
    width: 100%;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-family: 'Gudea';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;

    background: linear-gradient(180deg, #F9C920 0%, rgba(255, 254, 251, 0.48) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__nav > ul {
    display: flex;
    justify-content: space-between;
}

.header__nav > ul li {
    margin-right: 40px;
}

.header__profile {
    display: flex;
    align-items: center;
}

.header__profile > img {
    max-width: 33px;
}

/*---matches---*/
.main {
    height: 100% !important;
    display: flex;
    justify-content: center;
}

.matches {
    margin: 95px 0;
}

.matches__header {
    width: 100%;
    position: relative;
}

.matches__header > h3 {
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;;
}

.matches__header > h3:after {
    margin-top: 23px;
    position: absolute;
    content: '';
    max-width: 1250px;
    width: 100%;
    border-bottom: solid 3px white !important;
}

.matches__info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
}

.matches_card {
    border-top: 5px solid #525730;
    background: #7F7F7F;
    border-radius: 4px;
    padding: 14px 50px;

    color: white;
    font-size: 18px;
    font-weight: bold;

    max-width: 49%;
    width: 100%;
    display: flex;
    align-items: center;
}
.matches_card__name{
    margin-right: 10px !important;
    color: red;
}

.matches_card:nth-child(odd) {
    margin-right: 0.75rem;
}

.matches_card__time {
    width: 100px;
    line-height: 30px;
}

.matches_card > ul {
    display: flex;
    align-items: center;
}

.matches_card > ul label {
    margin-top: 1rem;
    color: #fd772c;
    font-size: 15px;
    display: block;
    white-space: nowrap;
    font-weight: normal;
}

.middle > label {
    margin-top: 1.75rem !important;
}

.middle > span {
    display: flex;
    justify-content: center;
}

.matches__btns {
    margin-top: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -35px;
}

.matches__btns > button {
    background: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

.matches__btns > button:nth-child(odd) {
    margin-right: 2rem;
}

.matches__nav {
    margin-top: 4.5rem;
    width: 100%;
}

.matches__nav > ul {
    display: flex;
    width: 100%;
}

.matches__nav > ul li {
    background: #8A8383;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    width: 100%;
    padding: 10px 15px;
    border-right: solid 1px black;
    border-left: solid 1px black;
}

.matches__nav > ul li:first-child {
    background: #585858;
}

/*---second-page---*/
.review__header > h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    margin: 3rem 0 2rem;

}

.review__card {
    max-width: 1650px;
    background: #7F7F7F;
    border-radius: 4px;
    padding: 15px 120px;
    border-top: solid 2px #525730;
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 2fr 0.5fr;
    width: 100%;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.review__score__info {
    background: #454444;
    padding: 15px 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 26px;
}

.review__score > label {
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: auto;

    justify-content: center;
}

.review__score > div {
    display: flex;
    align-items: center;
    margin: 1.25rem auto 0;
    justify-content: center;
}

.review__card > h4 {
    font-size: 30px;
}

.review > h6 {
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    margin: 1rem 0;
}

.review__events {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.review__events > div {
    max-width: 750px;
    width: 100%;
}

.review__events > div > h2 {
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F9C921;
}

.review__info {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.review__info > span {
    font-size: 30px;
}

.review__info__first {
    align-items: center;
    margin: 2rem 0;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 22px;
    font-weight: bold;
}

.review__info__first > div > label:first-child {
    display: block;
    line-height: 30px;
    color: #FFE600;
    font-weight: bold;
    font-size: 18px;
}

.review__info__first > div > label {
    display: block;
    line-height: 30px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

.review__info__second {
    align-items: center;
    margin: 2rem 0;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 22px;
    font-weight: bold;
}

.review__info__second > div > label:first-child {
    display: block;
    line-height: 30px;
    color: #AFFF04;
    font-weight: bold;
    font-size: 18px;
}

.review__info__second > div > label {
    display: block;
    line-height: 30px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

.review__events > div > h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFCFCF;
    font-size: 22px;
    font-weight: bold;
    margin: 2.5rem 0 4rem;
}

.review__info__third > span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.review__info__fourth {
    align-items: center;
    margin: 2rem 0;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 22px;
    font-weight: bold;
}

.review__info__fourth > div > label {
    color: black;
}

.review__info__fourth > div > label > span {
    color: #00F318;
}

.review__info__fifth {
    align-items: center;
    margin: 2rem 0;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 22px;
    font-weight: bold;
}
.review__info__fifth > div > label:first-child {
    display: block;
    line-height: 30px;
    color: #F60000;
    font-weight: bold;
    font-size: 18px;
}

.review__info__fifth > div > label {
    display: block;
    line-height: 30px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    font-size: 22px;
    font-weight: bold;
    color: white;
}
