.card {
    border-top: 5px solid #525730;
    background: #485998FF;
    border-radius: 4px;
    padding: 14px 50px;

    color: white;
    font-size: 10px;
    font-weight: bold;

    max-width: 49%;
    width: 100%;
    display: inline-block;
    align-items: center;
}

.matches_card__name{
    margin-right: 10px !important;
    color: red;
}

.card > ul {

    align-items: center;
}

.btns {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -35px;
}

.btns > button {
    background: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

.btns > button:nth-child(odd) {
    margin-right: 2rem;
}

button {
    cursor: pointer;
}
