<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Вход</h1>
     <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
    </form>
<a href="{% url 'reg' %}"><button>Регистрация</button></a>
</body>
</html>