<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/styles/main.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/styles/team_info.css" type="text/css"/>
    <title>Главная</title>

</head>
<body>
<header class="header">
    <div class="container header__container">
        <div class="header__logo"><a href="{% url 'main' %}">GoalTrack</a></div>
        <nav class="header__nav">
            <ul class="header__links">
                <li class=""><a href="{% url 'games_completed' %}" class="nav_games">Прошедшие игры</a></li>
                <li class=""><a href="{% url 'games_non_completed' %}" class="nav_games">Предстоящие игры</a></li>
                <li class=""><a href="{% url 'teams' %}" class="nav_games">Команды</a></li>
            </ul>
        </nav>
        <div class="header__profile">
            {% if not user.is_anonymous %}
            <a href="{% url 'lk' %}" class="nav_games"><img src="../../static/profile.svg" class="circle" height="45px"
                                                            width="45px"/></a>
            {% else %}
            <a href="{% url 'auth' %}" class="nav_games"><img src="../../static/profile.svg" class="circle" height="45px"
                                                            width="45px"/></a>

            {% endif %}
        </div>
    </div>
</header>

{% for game in games_completed %}
<div class="matches_card">
    <div class="matches_card__time" style="margin-right: 10px">{{ game.date }}</div>
    <ul>
        <li class="matches_card__name`" style="margin-right: 10px">{{ game.name1 }}</li>
        {% load static %}
        <img src={% static game.picture1 %} alt="" class="circle" width="40" height="40">
        <li class="matches_card__score" style="margin-right: 10px">{{ game.score }}</li>
        {% load static %}
        <img src={% static game.picture2 %} alt="" class="circle" width="40" height="40">
        <li class="matches_card__name`" style="margin-right: 10px">{{ game.name2 }}</li>
    </ul>
</div>
{% endfor%}


<div class="matches__btns">
    {% if games_completed.has_next %}
    <button><a href="?page={{ games_completed.paginator.num_pages }}" class="nav_games" style="font-size: 15px">В НАЧАЛО</a></button>
    <button><a href="?page={{ games_completed.next_page_number }}" class="nav_games" style="margin-right: 20px; font-size: 15px">ПРЕДЫДУЩАЯ</a></button>
    {% endif %}

    {% if games_completed.has_previous %}
    <button><a href="?page={{ games_completed.previous_page_number }}" class="nav_games" style="font-size: 15px">СЛЕДУЮЩАЯ</a></button>
    <button><a href="?page=1" class="nav_games" style="font-size: 15px">В КОНЕЦ</a></button>
    {% endif %}

</div>

<br>
<p class="nav_games" align="center" style="font-size: 20px">Страница {{ games_completed.number }} из {{ games_completed.paginator.num_pages }}</p>
</body>
</html>