<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/styles/main2.css" type="text/css"/>
    <title>Регистрация</title>
</head>
<body>
<div class="reg">
    <div class="big__logo">GoalTrack</div>
    <div class="registration">
        <h2>Регистрация</h2><br>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="window">
            <label for="email" class="label">Email</label>
            <input id="email" type="text" class="input" name="email" placeholder="example@fed.com">

            <label for="username" class="label">Username</label>
            <input id="username" type="text" class="input" name="username" placeholder="Username">

            <label for="first_name" class="label">Имя</label>
            <input id="first_name" type="text" class="input" name="first_name" placeholder="Виктория">

            <label for="last_name" class="label">Фамилия</label>
            <input id="last_name" type="text" class="input" name="last_name" placeholder="Федорчук">

            <label for="password" class="label">Password</label>
            <input id="password" type="password" class="input" datatype="password" name="password" placeholder="*********">

            <label for="password2" class="label">Повторите пароль</label>
            <input id="password2" type="password" class="input" datatype="password" name="password2" placeholder="*********">

            <button type="submit" class="button1">Регистрация</button>
            <br>
        </div>
    </form>
    <button type="button" class="button2"><a href="{% url 'auth' %}" style="color: white">Вход</a></button>
</div>

</body>
</html>