<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/styles/main2.css" type="text/css"/>
    <title>Вход</title>
</head>
<body>
<div class="auth">
    <div class="big__logo"><a href="{% url 'main' %}">GoalTrack</a></div>
    <div class="authorization">
        <h2>Вход</h2><br>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="window">
            <label for="username" class="label">Username</label>
            <input id="username" type="text" class="input" name="username" placeholder="Username">

            <label for="password" class="label">Password</label>
            <input id="password" type="password" class="input" datatype="password" name="password" placeholder="*********">
            <button type="submit" class="button2">Вход</button>
        </div>
    </form>
    <button type="button" class="button2"><a href="{% url 'reg' %}" style="color: white">Регистрация</a></button>
</div>

</body>
</html>