<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/styles/main.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/styles/main2.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/styles/team_info.css" type="text/css"/>
    <title>Главная</title>
</head>
<body>
<header class="header">
    <div class="container header__container">
        <div class="header__logo"><a href="{% url 'main' %}">GoalTrack</a></div>
        <nav class="header__nav">
            <ul class="header__links">
                <li class=""><a href="{% url 'games_completed' %}" class="nav_games">Прошедшие игры</a></li>
                <li class=""><a href="{% url 'games_non_completed' %}" class="nav_games">Предстоящие игры</a></li>
                <li class=""><a href="{% url 'teams' %}" class="nav_games">Команды</a></li>
            </ul>
        </nav>
        <div class="header__profile">
            <a href="{% url 'lk' %}" class="nav_games"><img src="../../static/profile.svg" class="circle" height="45px"
                                                            width="45px"/></a>
        </div>
    </div>
</header>
<main class="main">
    <br><br><br>
    <div class="photo_of_profile">
        <img src="../../static/profile.svg" class="circle" alt="photo_of_profile" width="110" height="110"/>
    </div>
    <div class="info">
        <div>
            <p>
            <h4>Имя пользователя: {{ data.username }}</h4><br>
            </p>
        </div>
        <div>
            <p>
            <h4>Почта: {{ data.email }}</h4><br>
            </p>
        </div>
        <div>
            <p>
            <h4>Имя: {{ data.first_name }}</h4><br>
            </p>
        </div>
        <div>
            <p>
            <h4>Фамилия: {{ data.last_name }}</h4><br>
            </p>
        </div>
    </div>
    <div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <button type="button" class="button2"><a href="{% url 'logout' %}" style="color: white">Выход</a></button>
    </div>
</main>

</body>
</html>


