<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/styles/main.css" type="text/css"/>
    <title>GoalTrack</title>
</head>
<body>
<header class="header">
    <div class="container header__container">
        <div class="header__logo"><a href="{% url 'main' %}">GoalTrack</a></div>
        <nav class="header__nav">
            <ul class="header__links">
                <li class=""><a href="{% url 'games_completed' %}" class="nav_games">Прошедшие игры</a></li>
                <li class=""><a href="{% url 'games_non_completed' %}" class="nav_games">Предстоящие игры</a></li>
                <li class=""><a href="{% url 'teams' %}" class="nav_games">Команды</a></li>
            </ul>
        </nav>
        <div class="header__profile">
            {% if not user.is_anonymous %}
            <a href="{% url 'lk' %}" class="nav_games"><img src="../../static/profile.svg" class="circle" height="45px"
                                                            width="45px"/></a>
            {% else %}
            <a href="{% url 'auth' %}" class="nav_games"><img src="../../static/profile.svg" class="circle" height="45px"
                                                            width="45px"/></a>

            {% endif %}

        </div>
    </div>
</header>

<main class="main">
    <div class="container">
        <div class="matches">
            <div class="matches__header">
                <h3>Матчи</h3>
            </div>
            <div class="matches__info">

                {% for game in games %}

                <div class="matches_card">
                    <div class="matches_card__time" style="margin-right: 10px">{{ game.date }}</div>
                    <ul>
                        <li class="matches_card__name`" style="margin-right: 10px">{{ game.name1 }}</li>
                        <label>{{ game.per1 }}</label>
                        {% load static %}
                        <img src={% static game.picture1 %} alt="" class="circle" width="40" height="40">

                        <li class="matches_card__score" style="margin-right: 10px">{{ game.score }}</li>
                        <label>{{ game.per2 }}</label>
                        {% load static %}
                        <img src={% static game.picture2 %} alt="" class="circle" width="40" height="40">

                        <li class="matches_card__name`" style="margin-right: 10px">{{ game.name2 }}</li>
                        <label>{{ game.per3 }}</label>

                    </ul>
                </div>

                {% endfor%}

            </div>

            <div class="matches__btns">
                {% if games.has_previous %}
                <button><img src="../../static/assets/left-arr.svg" alt="arr" style="margin-right: 15px"/>
                    <a href="?page={{ games.previous_page_number }}" class="nav_games">РАНЬШЕ</a>
                </button>
                {% endif %}

                {% if games.has_next %}
                <button><a href="?page={{ games.next_page_number }}" class="nav_games">ПОЗЖЕ</a>
                    <img src="../../static/assets/right-arr.svg" alt="arr" style="margin-left: 15px"/>
                </button>
                {% endif %}
            </div>

        </div>
    </div>
</main>
</body>
</html>