<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Регистрация</h1>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Зарегистрироваться</button>
    </form>
<a href="{% url 'auth' %}"><button>Вход</button></a>
</body>
</html>