<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/styles/main.css" type="text/css"/>
    <title>Список команд</title>
</head>
<body>
<header class="header">
    <div class="container header__container">
        <div class="header__logo"><a href="{% url 'main' %}">GoalTrack</a></div>
        <nav class="header__nav">
            <ul class="header__links">
                <li class=""><a href="{% url 'games_completed' %}" class="nav_games">Прошедшие игры</a></li>
                <li class=""><a href="{% url 'games_non_completed' %}" class="nav_games">Предстоящие игры</a></li>
                <li class=""><a href="{% url 'teams' %}" class="nav_games">Команды</a></li>
            </ul>
        </nav>
        <div class="header__profile">
            {% if not user.is_anonymous %}
            <a href="{% url 'lk' %}" class="nav_games"><img src="../../static/profile.svg" class="circle" height="45px"
                                                            width="45px"/></a>
            {% else %}
            <a href="{% url 'auth' %}" class="nav_games"><img src="../../static/profile.svg" class="circle" height="45px"
                                                            width="45px"/></a>

            {% endif %}
        </div>
    </div>
</header>

<main>

    {% for team in teams %}

        <ul class="my-class">
            <li class="matches_card__name`"><a href="{% url 'team_main' team.id %}" class="nav_games">{{ team.name }}</a></li>
            {% load static %}
            <img src={% static team.emblem %} alt="" class="circle" width="100" height="100">
            <br>
        </ul>

    {% endfor%}

</main>
</body>
</html>