<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/styles/main.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/styles/team_info.css" type="text/css"/>
    <title>Главная</title>
</head>
<body>
<header class="header">
    <div class="container header__container">
        <div class="header__logo"><a href="{% url 'main' %}">GoalTrack</a></div>
        <nav class="header__nav">
            <ul class="header__links">
                <li class=""><a href="{% url 'games_completed' %}" class="nav_games">Прошедшие игры</a></li>
                <li class=""><a href="{% url 'games_non_completed' %}" class="nav_games">Предстоящие игры</a></li>
                <li class=""><a href="{% url 'teams' %}" class="nav_games">Команды</a></li>
            </ul>
        </nav>
        <div class="header__profile">
            {% if not user.is_anonymous %}
            <a href="{% url 'lk' %}" class="nav_games"><img src="../../static/profile.svg" class="circle" height="45px"
                                                            width="45px"/></a>
            {% else %}
            <a href="{% url 'auth' %}" class="nav_games"><img src="../../static/profile.svg" class="circle" height="45px"
                                                            width="45px"/></a>

            {% endif %}
        </div>
    </div>
</header>


{% load static %}
<img src={% static team.emblem %} class="circle" width="150" height="150" align="left" style="margin-right: 30px">

<p class="nav_games" style="font-size: 30px">{{ team.name }}</p>
<br>
<p class="nav_games">Главный тренер:</p>
<br>
<p class="nav_games" style="font-size: 20px">{{ coach.first_name }} {{ coach.last_name }}</p>
<br><br><br><br><br>
<a href="{% url 'team_main' team.id %}" class="nav_games" style="font-size: 20px">Главная</a>
<b style="font-size: 30px" class="nav_games">|</b>
<a href="{% url 'team_constituent' team.id %}" class="nav_games" style="font-size: 20px">Состав</a>

<br><br><br>
<p class="nav_games" align="center" style="font-size: 20px">Предстоящие матчи</p><br><br>
{% for game in games_non_completed %}
<div class="matches_card">
    <div class="matches_card__time" style="margin-right: 10px">{{ game.date }}</div>
    <ul>
        <li class="matches_card__name`" style="margin-right: 10px">{{ game.name1 }}</li>
        <label>{{ game.per1 }}</label>
        {% load static %}
        <img src={% static game.picture1 %} alt="" class="circle" width="40" height="40">

        <li class="matches_card__score" style="margin-right: 10px">{{ game.score }}</li>
        <label>{{ game.per2 }}</label>
        {% load static %}
        <img src={% static game.picture2 %} alt="" class="circle" width="40" height="40">

        <li class="matches_card__name`" style="margin-right: 10px">{{ game.name2 }}</li>
        <label>{{ game.per3 }}</label>
    </ul>
</div>
{% endfor%}


<br><br>

<p class="nav_games" align="center" style="font-size: 20px">Прошедшие матчи</p><br><br>
{% for game in games_completed %}
<div class="matches_card">
    <div class="matches_card__time" style="margin-right: 10px">{{ game.date }}</div>
    <ul>
        <li class="matches_card__name`" style="margin-right: 10px">{{ game.name1 }}</li>
        {% load static %}
        <img src={% static game.picture1 %} alt="" class="circle" width="40" height="40">
        <li class="matches_card__score" style="margin-right: 10px">{{ game.score }}</li>
        {% load static %}
        <img src={% static game.picture2 %} alt="" class="circle" width="40" height="40">
        <li class="matches_card__name`" style="margin-right: 10px">{{ game.name2 }}</li>
    </ul>
</div>
{% endfor%}

</body>
</html>